*{
    margin: 0;
    padding: 0;
}

#gallery{
    height: fit-content;
    width: auto;
    background-color: #BFD8AF;
}

.heading{
    padding-top: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;

}

.image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px 2px;
    
}

.bangle-img{
    height: 300px;
    width: 300px;
    margin-bottom: 2.5rem;
    border-radius: 2rem;
    border: 2px solid white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    /* box-shadow: 0px 0px 50px 12px rgba(0,0,2); */
}

.bangle-img:hover{
    background: transparent;
}

/* media query for mobile */

@media (max-width:768px){
    .bangle-img{
        height: 175px;
        width: 175px;
        margin-right: 1rem;
    }
}